{% load static %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{% static 'linsite-logo.png' %}"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-plus"></i> Nieuwe host</a>
              </li>
              
            </ul>
            <div class="d-flex">
                <a class="logout-btn" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Uitloggen</a>
            </form>
          </div>
        </div>
      </nav>