{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

    <div class="container">
        <div class="row">

            <input type="text" class="form-control searchbar" placeholder="Site zoeken..." />

            <table id="DataTable" width="100%" class="table">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Configfile</th>
                        <th>FTP folder</th>
                        <th>Actief</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for host in hosts %}

                        
                        <tr>
                            <td>{{ host.hostname }}</td>
                            <td>{{ host.hostconf }}</td>
                            <td>{{ host.ftpdir }}</td>
                            {% if host.hostactive == 1 %}
                                <td><i class="active fa-solid fa-circle-check"></i></td>
                            {% else %}
                                <td><i class="not-active fa-solid fa-circle-xmark"></i></td>
                            {% endif %}
                            <td><a class="btn btn-delete" href="/?delete={{ host.hostname }}"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}