{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block content %}

    <div class="container">
        <div class="row">

            <input type="text" class="form-control searchbar" placeholder="Site zoeken..." />

            <table id="DataTable" width="100%" class="table">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Configfile</th>
                        <th>FTP folder</th>
                        <th>Actief</th>
                        <th>Aangemaakt op</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for host in hosts %}
                        <tr>
                            <td>{{ host.hostname }}</td>
                            <td>{{ host.hostconf }}</td>
                            <td>{{ host.ftpdir }}</td>
                            <td>{{ host.hostactive }}</td>
                            <td>00-00-0000 00:00:00</td>
                            <td>Verwijderen</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}